{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css1/admin_css/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'css1/admin_css/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css1/admin_css/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css1/admin_css/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'css1/admin_css/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css1/admin_css/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css1/admin_css/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'css1/admin_css/images/fish icon.jpeg' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="{% static 'css1/admin_css/images/logo.svg' %}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile ">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
          </li>
          {% if 'uid' in request.session %}

          <li class="nav-item"><b>Hello,{{request.session.username}} </b></li>
          <li class="nav-item nav-profile ">
              <a class="dropdown-item" href="{% url 'admin_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
          </li>
          {% else %}
          <li class="nav-item nav-profile ">
            <a class="dropdown-item" href="{% url 'admin_login' %}">
              <i class="fa fa-sign-in"></i>
              Login
            </a>
          </li>
          {% endif %}
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
     
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_index' %}">
                  <i class=" menu-icon  fa fa-laptop"></i>
                  <span class="menu-title">Home</span>
                </a>
              </li>  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_category' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Add Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_category' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">View Category</span>
            </a>
            <div class="collapse" id="ui-basic">

              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">{{i.category_name}}</a></li>
              </ul>

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'add_product' %}" >
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Add Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'view_products' %}" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">View Products</span>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">{{i.product_name}}</a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'add_recipe' %}" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Add Recipe</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'view_recipe' %}" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">View Recipe</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'view_users' %}" aria-expanded="false" aria-controls="icons">
              <i class="fa fa-user"></i>
              <span class="menu-title">View users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'check_out_table' %}" aria-expanded="false" aria-controls="icons">
              <i class="fa fa-user"></i>
              <span class="menu-title">View Check_out_details</span>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block content %}
          <div class="row">
            <div class="col-md-10 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Categories</p>
                      <p class="fs-30 mb-2">{{c}}</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Products</p>
                      <p class="fs-30 mb-2">{{p}}</p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Recipies</p>
                      <p class="fs-30 mb-2">{{r}}</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Users</p>
                      <p class="fs-30 mb-2">{{u}}</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html --> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'css1/admin_css/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'css1/admin_css/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'css1/admin_css/vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'css1/admin_css/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'css1/admin_css/js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'css1/admin_css/js/off-canvas.js' %}"></script>
  <script src="{% static 'css1/admin_css/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'css1/admin_css/js/template.js' %}"></script>
  <script src="{% static 'css1/admin_css/js/settings.js' %}"></script>
  <script src="{% static 'css1/admin_css/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'css1/admin_css/js/dashboard.js' %}"></script>
  <script src="{% static 'css1/admin_css/js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->

  <script src="{% static 'css1/user_css/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'css1/user_css/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'css1/user_css/dist/js/adminlte.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src ="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src ="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>

